<div class="lang-modal__wrapper">
    <mat-form-field appearance="outline" class="u-width-100">
       <mat-label>{{ lang.shared.language }}</mat-label>
       <mat-select [value]="initialValue" 
                   (selectionChange)="onLanguageChange($event)">
         <mat-option *ngFor="let lang of languages" [value]="lang.value">
           {{lang.viewValue}}
         </mat-option>
       </mat-select>
     </mat-form-field>
     <button class="lang-modal__btn" 
             mat-stroked-button 
             mat-dialog-close="true"
             color="warn">{{ lang.shared.cancelBtn }}</button>
 </div>