.event-detail {
    background-color: #1a222a;
    margin: 2rem 1rem;
    padding: 1.5rem;
    height: fit-content;
    border-radius: 2px;
    transition: background-color, .2s ease;
    border: 1px solid rgb(168, 168, 168);
    cursor: pointer;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
    }

    &:hover {
        background-color: #141a20;
    }

    &__no-events {
        text-align: center;
        font-style: italic;
    }
}