.mobile-event-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .25rem 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: #1A1A1D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    height: 30px;
    max-height: 30px;

    &__btn {
        width: 80%;
    }

    &__maximize {
        width: auto !important;
        margin-top: 1.5rem;
        font-size: 50px;
        color: rgb(128, 128, 128);
    }

    &__para {
        margin: 1rem 0;
        font-style: italic;
    }
}