@keyframes slide-in-up {
    0% {
        transform: translateY(50px);
    }

    100% { opacity: 1; }
}

@keyframes slide-in-up-sm {
    0% {
        transform: translateY(5px);
    }

    100% { opacity: 1; }
}

@keyframes slide-down-out {
    80% { opacity: .90; }
    100% { transform: translateY(100%); }
}

@keyframes slide-in-down-sm {
    0% {
        transform: translateY(-5px);
    }

    100% { opacity: 1; }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(50px);
    }

    100% { opacity: 1; }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-50px);
    }

    100% { opacity: 1; }
}

