@keyframes slide-in-up {
    0% {
        transform: translateY(50px);
    }

    100% { opacity: 1; }
}

@keyframes slide-in-down {
    0% {
        transform: translateY(-5px);
    }

    100% { opacity: 1; }
}
