.u-xs-mg-right {
    margin-right: .5rem !important;
}

.u-xs-mg-left {
    margin-left: .5rem !important;
}

.u-width-100 {
    width: 100%;
}

.u-bold {
    font-weight: 600;
}

.u-sm-font {
    font-size: 11px;
}

.u-offset-pad {
    margin-bottom: -1.34375em !important; 
}

.u-ital-bld-p {
    font-style: italic;
    margin-bottom: 0;
}

.u-mg-left {
    margin-left: 2rem !important; 
}

.u-mg-right {
    margin-right: 2rem !important;
}