@import '../../../base/animations';

.events {

    &__toolbar {
        background-color:rgb(29, 29, 31);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        margin-top: 80px;
        border-bottom: 1px solid #000;

        &--wrapper {
            display: flex;
            align-items: center;
        }

        &--btn {
            min-width: 200px;
        }
    }

    &__fab-btn {
        opacity: 0;
        position: fixed;
        z-index: 99;
        right: 5%;
        bottom: 80px;
        animation: slide-in-up ease .4s forwards;
    }

    &__fab-btn--left {
        opacity: 0;
        position: fixed;
        z-index: 99;
        right: 5%;
        bottom: 160px;
        animation: slide-in-up ease .4s forwards;
        background-color: rgb(235, 229, 229) !important;
        color: #000 !important;

        &-iso {
            opacity: 0;
            position: fixed;
            z-index: 99;
            right: 5%;
            bottom: 80px;
            animation: slide-in-up ease .4s forwards;
            background-color: rgb(235, 229, 229) !important;
            color: #000 !important;    
        }
    }
}

@media screen and (max-width: 1000px) {
    .events {

        &__toolbar {
            padding-right: 1rem;
        }
    }
}