@import '../../../base/animations';

.events {
    &__toolbar {
        background-color:rgb(29, 29, 31);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
        margin-top: 80px;
        border-bottom: 1px solid #000;

        &--btn {
            min-width: 200px;
        }
    }

    &__para {
        margin-bottom: 0;
        margin-right: 2rem;
        font-style: italic;
    }

    &__fab-btn {
        opacity: 0;
        position: fixed;
        z-index: 99;
        right: 5%;
        bottom: 65px;
        animation: slide-in-up ease .4s forwards;
    }
}

@media screen and (max-width: 1000px) {
    .events {

        &__toolbar {
            padding-right: 1rem;
        }
    }
}