<p *ngIf="!events.length" class="event-detail__no-events u-bold">There are currently no events.</p>
<div class="event-detail" *ngFor="let event of events"
     matRipple
    (click)="focusOnLocation(event)">
    <div class="event-detail__row">
        <p class="mat-body">Classification: <span class="u-bold">{{event.classification}}</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            {{event.eventDescription}}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">lat: {{event.coordinates.lat}}, lng: {{event.coordinates.lng}}</span></p>  
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p>Timestamp: <span class="u-bold">{{event.timestamp}}</span></p>  
    </div>
</div>