<p *ngIf="!events.length" class="event-detail__no-events u-bold">{{ lang.shared.noEvents }}</p>
<div class="event-detail" *ngFor="let event of events" (click)="isDeleting ? null : focusOnLocation(event)">
    <div class="event-detail__row">
        <p class="mat-body">{{ lang.eventDetail.classification }}: <span class="u-bold">{{event.classification}}</span></p>
        <button *ngIf="event.uid === uid && !isDeleting"
                mat-icon-button 
                color="warn"
                (click)="deleteEvent(event.id)"
                aria-label="Icon button with trash can.">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            {{event.eventDescription}}
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p>{{ lang.eventDetail.coordinates }}: <span class="u-bold">lat: {{event.coordinates.lat}}, lng:
                {{event.coordinates.lng}}</span>
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p>{{ lang.eventDetail.timestamp }}: <span class="u-bold">{{event.timestamp}}</span></p>
    </div>
</div>