<div class="event-detail">
    <div class="event-detail__row flx-space-between">
        <p class="mat-body">Username: <span class="u-bold">dguerrero10</span></p>
        <p class="mat-body">Classification: <span class="u-bold">explosion</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident omnis aliquid numquam repellendus,
            quos eius. Velit, eligendi numquam, sapiente dolore expedita quos aliquid alias ea nostrum, reprehenderit
            nemo doloribus.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">30.3753° N, 69.3451° E</span></p>  
    </div>
</div>
<div class="event-detail">
    <div class="event-detail__row flx-space-between">
        <p class="mat-body">Username: <span class="u-bold">dguerrero10</span></p>
        <p class="mat-body">Classification: <span class="u-bold">explosion</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident omnis aliquid numquam repellendus,
            quos eius. Velit, eligendi numquam, sapiente dolore expedita quos aliquid alias ea nostrum, reprehenderit
            nemo doloribus.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">30.3753° N, 69.3451° E</span></p>  
    </div>
</div>
<div class="event-detail">
    <div class="event-detail__row flx-space-between">
        <p class="mat-body">Username: <span class="u-bold">dguerrero10</span></p>
        <p class="mat-body">Classification: <span class="u-bold">explosion</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident omnis aliquid numquam repellendus,
            quos eius. Velit, eligendi numquam, sapiente dolore expedita quos aliquid alias ea nostrum, reprehenderit
            nemo doloribus.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">30.3753° N, 69.3451° E</span></p>  
    </div>
</div>
<div class="event-detail">
    <div class="event-detail__row flx-space-between">
        <p class="mat-body">Username: <span class="u-bold">dguerrero10</span></p>
        <p class="mat-body">Classification: <span class="u-bold">explosion</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident omnis aliquid numquam repellendus,
            quos eius. Velit, eligendi numquam, sapiente dolore expedita quos aliquid alias ea nostrum, reprehenderit
            nemo doloribus.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">30.3753° N, 69.3451° E</span></p>  
    </div>
</div>
<div class="event-detail">
    <div class="event-detail__row flx-space-between">
        <p class="mat-body">Username: <span class="u-bold">dguerrero10</span></p>
        <p class="mat-body">Classification: <span class="u-bold">explosion</span></p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
        <p class="mat-body u-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident omnis aliquid numquam repellendus,
            quos eius. Velit, eligendi numquam, sapiente dolore expedita quos aliquid alias ea nostrum, reprehenderit
            nemo doloribus.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="event-detail__row">
      <p>Event coordinates: <span class="u-bold">30.3753° N, 69.3451° E</span></p>  
    </div>
</div>