<h2 mat-dialog-title align="center">Authenticate</h2>
<div class="auth">
    <form class="auth__form">
        <mat-form-field class="auth__form--field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="auth__form--field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="auth__form--actions">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary" dkFocusInitial>Submit</button>
        </div>
    </form>
</div>