<app-navbar></app-navbar>
<mat-toolbar *ngIf="!onMobile" class="events__toolbar">
   <p class="mat-body events__para" *ngIf="!isLoggedIn">Authenticate yourself to add an event.</p>
   <button class="events__toolbar--btn" color="primary" mat-flat-button [disabled]="isLoggedIn ? false : true" 
         (click)="addEvent()">
      Add event
   </button>
</mat-toolbar>
<div [ngClass]="!onMobile ? 'grid-xl-sm' : 'mobile-layout' ">
   <button *ngIf="onMobile && !eventListOpen"
            [disabled]="isLoggedIn ? false : true"
            class="events__fab-btn" 
            mat-fab
            (click)="addEvent()" 
            color="primary" 
            aria-label="Circular button with plus icon">
      <mat-icon>add</mat-icon>
   </button>
   <app-google-maps-wrapper></app-google-maps-wrapper>
   <app-event-list *ngIf="!onMobile"></app-event-list>
   <app-mobile-view-event-list *ngIf="onMobile"></app-mobile-view-event-list>
</div>
