<app-event-list *ngIf="eventListOpen"></app-event-list>
<div *ngIf="!eventListOpen" class="mobile-event-list">
    <button mat-icon-button 
            (click)="openEventFeed()"
           aria-label="Icon bar">
        <mat-icon class="mobile-event-list__maximize">maximize</mat-icon>
    </button>
    <button (click)="addEvent()"
            class="mobile-event-list__btn"
            mat-flat-button color="primary"
            [disabled]="isLoggedIn ? false : true">
            Add event
    </button>
    <p *ngIf="!isLoggedIn" class="mat-body mobile-event-list__para">
        Authenticate yourself to add an event.
    </p>
</div>